.h-table
.h-rank
    font-size 18px
    color #ffffff
    tr
        background #efefef
        &:nth-child(even)
            background #d6e1ed
    thead
        line-height 44px
        th
        tr
            font-weight normal
            background #1c355e
    tr
    th
    td
        padding 0 11px
.h-table
    table
        width 100%
        font-size 18px
        color #ffffff
        .tal
            text-align left
        .tar
            text-align right
        .number
            width 60px
            height 22px
            border 1px solid #b7b7b7
            border-radius 5px
            font-size 16px
            color #d42029
            text-align center
        .bdr
            border-right 1px solid #d2d2d2
    tr
    th
    td
        padding 0 11px
    thead
        line-height 44px
        th
        tr
            font-weight normal
            background #1c355e
    tbody
        tr
            border-bottom 1px solid #ffffff
        tr
        th
            font-size 16px
            color #1c355e
            line-height 38px
.h-rank
    thead
        tr
        th
            text-align left
    tbody
        font-size 14px
        color #1c355e
        line-height 30px
        .red
            color #fb1a25

.h-late-over-game
    position fixed
    top 0
    right 0
    max-width 307px
    width 100%
    margin 0 auto
    .item
        padding-top 0
        height 135px
        border-bottom 1px solid #d6e1ed
        .location
            width 90px
            padding-top 23px
            img
                display block
                margin 0 auto
                width 58px
                border-radius 50%
                border 2px solid #c7c7c7
            .name
                font-size 16px
                color #313131
                text-align center
                line-height 2
        .content
            width 127px
            text-align center
            .date
                padding 30px 0 10px
                font-size 14px
                color #757575
                line-height 1
            .score-rank
                width 100%
                height 48px
                background url('../img/f80913a8c3e3f8c4c8ce759e9492ccaf-4+18.png') center center no-repeat
            .value
                width 48px
                height 48px
                line-height 48px
                text-align center
                font-size 30px
                font-weight bold
                background url('../img/ac42ddd495eb06f5dde1776f461c6cf8-48+48.jpg') center center no-repeat
                border-radius 3px
                color #ffffff
                
                

            


        